@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");

:root {
  --text: #707070;
  --text-h: #111111;
  --bg: #f2f3ff;
  --primary: #0b23f4;
  --border: #717171;

  --font: "Inter", system-ui, "Segoe UI", Roboto, sans-serif;

  font: 14px var(--font);
  letter-spacing: 0.18px;
  color: var(--text);
  background: var(--bg);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
}

h1,
h2 {
  font-weight: 600;
  color: var(--text-h);
  margin: 0;
}

h1 {
  font-size: 28px;
  letter-spacing: -1.68px;
}
h2 {
  font-size: 24px;
  line-height: 118%;
  letter-spacing: -0.24px;
  margin: 0 0 8px;
  @media (max-width: 1024px) {
    font-size: 20px;
  }
}
p {
  margin: 0;
}

button {
  background: var(--primary);
  color: #fff;
  border: none;
  border-radius: 10px;
  height: 51px;
  width: 100%;
  font-size: 16px;
  cursor: pointer;
}

form {
  label {
    margin-bottom: 8px;
    display: block;
  }
  input {
    display: block;
    width: 100%;
    background: #fff;
    border: 1px solid var(--border);
    border-radius: 10px;
    padding: 20px;
  }
}
/* app container */
#root {
  min-height: 100vh;
  width: 100%;
}
