@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");

:root {
  --text: #707070;
  --text-h: #111111;
  --bg: #f2f3ff;
  --primary: #0b23f4;
  --secondary: #f4320b;
  --border: #717171;

  --font: "Inter", system-ui, "Segoe UI", Roboto, sans-serif;

  font: 14px var(--font);
  letter-spacing: 0.18px;
  color: var(--text);
  background: var(--bg);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  height: 100%;
}

/* app container */
#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

h1,
h2 {
  font-weight: 600;
  color: var(--text-h);
  margin: 0;
}

h1 {
  font-size: 28px;
}
h2 {
  font-size: 22px;
  font-weight: 500;
}
p {
  margin: 0;
}

button {
  border: none;
  cursor: pointer;
  background-color: transparent;
  font-size: 14px;
  font-family: var(--font);
  padding: 0;
}

.btn-blue {
  background: var(--primary);
  color: #fff;
  border-radius: 10px;
  height: 51px;
  width: 100%;
  font-size: 16px;
}

a {
  text-decoration: none;
  color: var(--text-h);
}

form {
  label {
    margin-bottom: 8px;
    display: block;
  }
  input {
    display: block;
    width: 100%;
    background: #fff;
    border: 1px solid var(--border);
    border-radius: 10px;
    padding: 20px;
  }
}

.card {
  background-color: #fff;
  border-radius: 10px;
  padding: 26px 40px;
  width: 100%;

  &.short-card {
    max-width: 445px;
  }

  hr {
    margin-bottom: 32px;
    display: block;
    border: 0;
    border-top: 1px solid #e7e7e7;
  }
}
.card-body {
  p {
    margin-bottom: 24px;
  }
}

.graph {
  margin-top: 40px;
  position: relative;

  &.graph-center {
    > div {
      margin: 0 auto;
    }
  }
}
.legend-graph {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
  margin-left: 23px;
  margin-top: 15px;
}
.item-legend-graph {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 12px;

  &::before {
    content: "";
    display: block;
    width: 8px;
    height: 8px;
    background-color: #000;
    border-radius: 4px;
    margin-right: 4px;
  }

  &.km {
    &::before {
      background-color: #7987ff;
    }
  }

  &.min-bpm {
    &::before {
      background-color: #fcc1b6;
    }
  }
  &.max-bpm {
    &::before {
      background-color: var(--secondary);
    }
  }
  &.average-bpm {
    &::before {
      background-color: transparent;
      content: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='3' y='7' width='11' height='1' fill='%23B6BDFC'/%3E%3Cpath d='M11.5001 7.5C11.5001 9.15685 10.157 10.5 8.50012 10.5C6.84327 10.5 5.50012 9.15685 5.50012 7.5C5.50012 5.84315 6.84327 4.5 8.50012 4.5C10.157 4.5 11.5001 5.84315 11.5001 7.5Z' fill='%230B23F4' stroke='white'/%3E%3C/svg%3E%0A");
      width: 16px;
      height: 16px;
    }
  }
  &.remaining {
    position: absolute;
    left: 15px;
    bottom: 60px;

    &::before {
      background-color: #b6bdfc;
    }
  }
  &.realized {
    position: absolute;
    right: 30px;
    top: 20px;
    &::before {
      background-color: var(--primary);
    }
  }
}
